<mat-card class="card">
  <mat-card-content fxLayout="column">
    <img
      [src]="place.mainImage | image"
      [alt]="place.title"/>
    <a [routerLink]="['places', place._id]">
      <mat-card-title>{{ place.title }}</mat-card-title>
    </a>
    <ngb-rating [max]="5" [readonly]="true" [rate]="place.averageRate"></ngb-rating>
    <p>({{ place.averageRate }}; {{ place.reviews.length}} reviews)</p>
    <p fxLayout="row" fxLayoutAlign="start center">
      <span class="material-icons">photo_camera</span>&nbsp;
      <span>{{ place.images.length }} photos</span>
    </p>
    <div *appHasRoles="['admin']">
      <button mat-raised-button color="warn" (click)="remove()">Delete</button>
    </div>
  </mat-card-content>
</mat-card>

