<mat-toolbar color="primary">
  <div class="container toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">Logo</a>
    <nav *appUserType="'user'; else anonMenu" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button [matMenuTriggerFor]="menu">
        <img [src]="userData?.avatar | image" [alt]="userData?.displayName">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>{{ userData?.displayName }}</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </nav>
  </div>
</mat-toolbar>

<ng-template #anonMenu>
  <nav>
    <a routerLink="/register" mat-button>REGISTER</a>
    <a routerLink="/login" mat-button>SIGN IN</a>
  </nav>
</ng-template>

<div class="container">
  <ng-content></ng-content>
</div>
